@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  max-width: 160rem;
  margin: 1rem auto;
  font-size: 16px;
}
